* {
  box-sizing: border-box;
}

.example-1 {
  width: 150px;
  height: 150px;

  position: relative;
}

.example-1 div {
  background-color: tomato;
  width: 50px;
  height: 50px;
  
  transform: scale(0.95);
  border-radius: 3px;

  position: absolute;

  animation-name: move-div;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

.example-1 div:nth-child(0) {
  animation-delay: 0s;
}
.example-1 div:nth-child(1) {
  animation-delay: -1.42857143s;
}
.example-1 div:nth-child(2) {
  animation-delay: -2.85714286s;
}
.example-1 div:nth-child(3) {
  animation-delay: -4.28571429s;
}
.example-1 div:nth-child(4) {
  animation-delay: -5.71428572s;
}
.example-1 div:nth-child(5) {
  animation-delay: -7.14285715s;
}
.example-1 div:nth-child(6) {
  animation-delay: -8.57142858s;
}
.example-1 div:nth-child(7) {
  animation-delay: -10s;
}


@keyframes move-div {
  0% {
    top: 0;
    left: 0;
  }
  10.5% {
    top: 0;
    left: 0;
  }
  12.5% {
    top: 0;
    left: 50px;
  }
  23% {
    top: 0;
    left: 50px;
  }
  25% {
    top: 0;
    left: 100px;
  }
  35.5% {
    top: 0;
    left: 100px;
  }
  37.5% {
    top: 50px;
    left: 100px;
  }
  48% {
    top: 50px;
    left: 100px;
  }
  50% {
    top: 50px;
    left: 50px;
  }
  60.5% {
    top: 50px;
    left: 50px;
  }
  62.5% {
    top: 100px;
    left: 50px;
  }
  73% {
    top: 100px;
    left: 50px;
  }
  75% {
    top: 100px;
    left: 0;
  }
  85.5% {
    top: 100px;
    left: 0;
  }
  87.5% {
    top: 50px;
    left: 0;
  }
  98% {
    top: 50px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}